<div class="container">
  <div class="but">
    <button mat-raised-button color="primary" (click)="create()">
      Создать
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Выберите роль</mat-label>
      <mat-select [(value)]="selectedRole">
        <mat-option value="">Все</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role | translate: locale.language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Поиск</mat-label>
      <input matInput type="text" [(ngModel)]="search" />
      <button
        mat-button
        *ngIf="search"
        matSuffix
        mat-icon-button
        aria-label="Очистить"
        (click)="search = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="searchList()">
      Найти
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tab">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef>Имя</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="mustUpdatePassword">
      <th mat-header-cell *matHeaderCellDef>Пароль истёк</th>
      <td mat-cell *matCellDef="let element">
        {{ element.mustUpdatePassword ? "Да" : "Нет" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accountNonLocked">
      <th mat-header-cell *matHeaderCellDef>Заблокирован</th>
      <td mat-cell *matCellDef="let element">
        {{ !element.accountNonLocked ? "Да" : "Нет" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Роли</th>
      <td mat-cell *matCellDef="let element">
        {{ getRoles(element.roles) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef>Сбросить пароль</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          aria-hidden="false"
          (click)="resetPassword(element.email, element.fullName)"
          >autorenew</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="lock">
      <th mat-header-cell *matHeaderCellDef>Блок.</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          aria-hidden="false"
          (click)="
            changeLock(
              element.email,
              element.fullName,
              !element.accountNonLocked
            )
          "
          >lock</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Ред.</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" (click)="update(element.email)"
          >edit</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    class="pag"
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="[10, 20, 30]"
    (page)="searchList($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
