<div class="container">
  <form class="example-form" [formGroup]="fgc">
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        placeholder="Старый Пароль"
        formControlName="oldPassword"
        required
      />
      <mat-error *ngIf="fgc.controls.oldPassword.hasError('minlength')">
        Минимальная длинна пароля 8 символов.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        placeholder="Новый Пароль"
        formControlName="newPassword"
        required
      />
      <mat-error *ngIf="fgc.controls.newPassword.hasError('minlength')">
        Минимальная длинна пароля 8 символов.
      </mat-error>
      <mat-error *ngIf="isMatchedOldPasswords()">
        Пароли должны отличаться.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        type="password"
        placeholder="Повторите Пароль"
        formControlName="repeatPassword"
        required
      />
      <mat-error *ngIf="!isMatchedNewPasswords()">
        Пароли должны совпадать.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      (click)="updatePassword()"
      [disabled]="
        !fgc.valid || !isMatchedNewPasswords() || isMatchedOldPasswords()
      "
    >
      Применить
    </button>
  </form>
</div>
