<div class="attContainer">
  <div class="subject" *ngIf="subject && group">
    <h2>Посещаемость</h2>
    <h2>
      {{ subject?.qualifier + " (" + group?.qualifier + ")" }}
    </h2>
  </div>
  <div class="props">
    <!-- <div>
      <button
        mat-raised-button
        color="accent"
        (click)="save(true)"
        [disabled]="listToSave.length === 0"
      >
        Сохранить
      </button>
    </div> -->
    <div>
      <button mat-raised-button color="accent" (click)="create()">
        Добавить занятие
      </button>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Временной период</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Начало" />
          <input
            matEndDate
            formControlName="end"
            placeholder="Конец"
            (dateChange)="loadTable()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" (click)="filter()">
        Фильтр
      </button>
    </div>
  </div>
  <div>
    <div
      [ngStyle]="{
        'min-width.px': (cols + 1) * 100,
        'max-width.px': (cols + 1) * 150
      }"
    >
      <mat-grid-list class="header" [cols]="cols + 1" rowHeight="75px">
        <mat-grid-tile
          style="border: 1px solid black"
          *ngFor="let cell of headers; index as i"
          [colspan]="i % cols === 0 ? 2 : 1"
          [rowspan]="1"
          (contextmenu)="i !== 0 ? delete(cell.lesson) : true"
          [style.background]="getColor('HEADER')"
          [ngStyle]="{ cursor: i !== 0 ? 'pointer' : 'default' }"
        >
          <div (click)="update(cell.lesson)">
            <p *ngIf="i === 0">{{ cell.text }}</p>
            <p
              *ngFor="let p of getHeaderPList(cell.lesson)"
              style="margin: 0px; text-align: center"
            >
              {{ p }}
            </p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="cols + 1" rowHeight="50px">
        <mat-grid-tile
          *ngFor="let cell of att; index as i"
          [colspan]="i % cols === 0 ? 2 : 1"
          [rowspan]="1"
          (contextmenu)="isAtt(cell) ? onRightClick(cell) : true"
          [style.background]="i % cols === 0 ? getColor('HEADER') : 'white'"
          [ngStyle]="{ color: i % cols === 0 ? 'white' : 'black' }"
        >
          <p style="text-align: left" *ngIf="isStudents(cell, i)">
            {{ cell.text }}
          </p>
          <button
            *ngIf="isAtt(cell)"
            style="width: 100%; height: 100%; border: none"
            [ngStyle]="{
              'background-color': cell.goodReason
                ? getColor('GOOD')
                : getColor('kek')
            }"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            {{ cell.text }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="setValue(0, cell)"></button>
            <button mat-menu-item (click)="setValue(1, cell)">1</button>
            <button mat-menu-item (click)="setValue(2, cell)">2</button>
          </mat-menu>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
