.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.attContainer {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.subject {
  align-self: center;
}

.props {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.header {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 99;
}
