<h2 mat-dialog-title>Создать</h2>
<mat-dialog-content>
  <form class="example-form" [formGroup]="fgc">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Дисциплина</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of data.subjects" [value]="subject.id">
          {{ subject.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Формат занятия</mat-label>
      <mat-select formControlName="subjectType">
        <mat-option *ngFor="let type of data.subjectTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Преподаватель</mat-label>
      <mat-select formControlName="prof">
        <mat-option
          *ngFor="let prof of data.profs"
          [value]="prof.id"
          [disabled]="isProfDisable()"
        >
          {{ prof.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Группа</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let gr of data.groups" [value]="gr.id">
          {{ gr.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Подгруппа</mat-label>
      <mat-select formControlName="volume">
        <mat-option *ngFor="let v of data.volumes" [value]="v">
          {{ v }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Дата</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Время</mat-label>
      <mat-select formControlName="time" required>
        <mat-option *ngFor="let time of data.times" [value]="time.id">
          {{ time.startTime + " - " + time.finishTime + " (" + time.shift +
          ")"}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">Отмена</button>
  <button
    mat-button
    (click)="isUpdate ? update() : create()"
    [disabled]="!fgc.valid"
    cdkFocusInitial
  >
    Сохранить
  </button>
</mat-dialog-actions>
