<div *ngFor="let group of groupList">
    <p (click)="onSelectExisting(group)">{{group.qualifier}}</p>
        <button class="rm" (click)="remove(group)">&#10006;</button>
</div>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" [formControl]="nameFormControl" (keydown.enter)="isUpdate?update():create()">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Специальность</mat-label>
        <mat-select [formControl]="specFormControl" required>
          <mat-option *ngFor="let spec of specList" [value]="spec.id">
            {{spec.qualifier}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</form>
<button (click)="create()">Create</button>
<button *ngIf="isUpdate" (click)="update()">Update</button>