@import "../edit.scss";

.container {
  .but {
    mat-form-field {
      padding: 5px 10px;
    }
  }

  .mat-column-time {
    width: 10% !important;
    text-align: center;
  }

  .mat-column-subject {
    width: 25% !important;
    text-align: left;
  }

  .mat-column-subjectType {
    width: 1% !important;
    text-align: center;
  }

  .mat-column-professor {
    width: 10% !important;
    text-align: left !important;
  }
  .mat-column-group {
    width: 1% !important;
    text-align: center !important;
  }
}
