<h2 mat-dialog-title>{{data.isDelete ? "Удалить" : "Добавить"}} серию</h2>
<mat-dialog-content>
  <form class="example-form" [formGroup]="fgc">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Дисциплина</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of data.subjects" [value]="subject.id">
          {{ subject.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Формат занятия</mat-label>
      <mat-select formControlName="subjectType">
        <mat-option *ngFor="let type of data.subjectTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Преподаватель</mat-label>
      <mat-select formControlName="prof">
        <mat-option *ngFor="let prof of data.profs" [value]="prof.id">
          {{ prof.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Группа</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let gr of data.groups" [value]="gr.id">
          {{ gr.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Подгруппа</mat-label>
      <mat-select formControlName="volume">
        <mat-option *ngFor="let v of data.volumes" [value]="v">
          {{ v }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Временной период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Начало" />
        <input matEndDate formControlName="finish" placeholder="Конец" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Время</mat-label>
      <mat-select formControlName="time" required>
        <mat-option *ngFor="let time of data.times" [value]="time.id">
          {{ time.startTime + " - " + time.finishTime + " (" + time.shift +
          ")"}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Повторять каждые N недель</mat-label>
      <mat-select formControlName="repeat" required>
        <mat-option *ngFor="let repeat of repeatWeeks" [value]="repeat">
          {{ repeat }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox
        class="example-margin"
        *ngFor="let day of data.days"
        (change)="changeDays(day.day)"
        [checked]="isChecked(day.day)"
        >{{day.text}}</mat-checkbox
      >
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">Отмена</button>
  <button
    mat-raised-button
    color="accent"
    (click)="data.isDelete ? delete() : create()"
    [disabled]="!fgc.valid"
    cdkFocusInitial
  >
    {{(data.isDelete ? "Удалить" : "Сохранить")}}
  </button>
</mat-dialog-actions>
