<h2 mat-dialog-title>
  {{data.isDelete ? "Удалить" : "Добавить"}} серию занятий
</h2>
<mat-dialog-content>
  <form class="example-form" [formGroup]="fgc">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Дисциплина</mat-label>
      <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of data.subjects" [value]="subject.id">
          {{ subject.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Вид занятия</mat-label>
      <mat-select formControlName="subjectType">
        <mat-option *ngFor="let type of data.subjectTypes" [value]="type">
          {{ type | translate: locale.language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Преподаватель</mat-label>
      <mat-select formControlName="prof">
        <mat-option *ngFor="let prof of profs" [value]="prof.id">
          {{ prof.fullName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Группа</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let gr of data.groups" [value]="gr.id">
          {{ gr.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Подгруппа</mat-label>
      <mat-select formControlName="volume">
        <mat-option *ngFor="let v of data.volumes" [value]="v">
          {{ v | translate: locale.language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Временной период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input
          matStartDate
          formControlName="start"
          placeholder="Начало"
          (dateChange)="rangeChange()"
        />
        <input
          matEndDate
          formControlName="finish"
          placeholder="Конец"
          (dateChange)="rangeChange()"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Время</mat-label>
      <mat-select formControlName="time" required>
        <mat-option *ngFor="let time of data.times" [value]="time.id">
          {{ time.text}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Повторяемость</mat-label>
      <mat-select formControlName="repeat" required>
        <mat-option *ngFor="let repeat of repeatWeeks" [value]="repeat.id">
          {{ repeat.qualifier }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox
        class="example-margin"
        *ngFor="let day of data.days"
        (change)="changeDays(day.day)"
        [checked]="isChecked(day.day)"
        >{{day.text}}</mat-checkbox
      >
    </section>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    (click)="data.isDelete ? delete() : create()"
    [disabled]="!fgc.valid"
  >
    {{(data.isDelete ? "Удалить" : "Сохранить")}}
  </button>
  <button mat-button (click)="close(false)" cdkFocusInitial>Отмена</button>
</mat-dialog-actions>
