.rm {
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 1rem;
    border: none;
    width: 20px;
    height: 20px;
    transition: .3s all;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .rm :hover {
      background: darken(red, 20%);
  }