@import "../edit.scss";

.infoMsg {
  color: $accent;
}

.mat-column-fullName {
  width: 35% !important;
  text-align: left;
}

.mat-column-jobPosition {
  width: 25% !important;
  text-align: left;
}

.mat-column-email {
  width: 5% !important;
  text-align: center !important;
}
.mat-column-phone {
  width: 25% !important;
  text-align: center !important;
}
