<h2 mat-dialog-title>
  {{isUpdate ? "Редактировать" : "Добавить"}} преподавателя
</h2>
<mat-dialog-content>
  <form class="example-form" [formGroup]="fgc">
    <mat-form-field class="example-full-width">
      <input
        matInput
        required
        placeholder="Фамилия"
        formControlName="lastName"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Имя" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Отчество" formControlName="patronymic" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="E-mail"
        formControlName="email"
        required
        [readonly]="isUpdate"
        (change)="isUniqueEmail()"
      />
      <mat-error *ngIf="fgc.controls.email.hasError('email')">
        Введите валидный e-mail.
      </mat-error>
    </mat-form-field>
    <p *ngIf="emailExists" style="color: #b97d34">
      Данный e-mail уже используется в системе. В случае сохранения данные
      зарегистрированного пользователя будут обновлены и добавлена роль
      Преподавателя.
    </p>
    <mat-form-field class="example-full-width">
      <mat-label>Телефон</mat-label>
      <span matPrefix>+375 &nbsp;</span>
      <input
        type="tel"
        matInput
        placeholder="(29) 523-62-78"
        formControlName="phone"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Должность</mat-label>
      <mat-select formControlName="position" required>
        <mat-option *ngFor="let pos of data.positions" [value]="pos.id">
          {{pos.qualifier}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close(false)">Отмена</button>
  <button
    mat-raised-button
    color="accent"
    (click)="isUpdate ? update() : create()"
    cdkFocusInitial
    [disabled]="!fgc.valid"
  >
    Сохранить
  </button>
</mat-dialog-actions>
