$light-shades: #f7f7ff;
$light-accent: #98b5c3;
$main: #e8b01c;
$dark-accent: #b97d34;
$dark-shades: #297938;

$dark: #214b2c;

$primary: #8f6b0e;
$info: #2d723f;
$success: #7baf40;
$warning: #f89f08;
$danger: #f44336;

$btn-default: #999999;
$btn-primary: #e8af1b;
$btn-info: #214b2c;
$btn-success: #7baf40;
$btn-warning: #f89f08;
$btn-danger: #f44336;

$white: #ffffff;
$black: #000000;

$primary: #384480;
$accent: #f19d45;
$warn: #d7565e;

$dark: #728c8a;
$middle: #b4bf9b;
$light: #b6bf6f;
