/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: auto;
}

.but {
  align-self: flex-end;
}

.tab {
  width: 100%;
  align-self: center;
}

.pag {
  align-self: flex-end;
}
