@import "../../../const.scss";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu:wght@700&display=swap");

.container {
  align-items: center;
  padding-top: 10em;

  display: flex;
  flex-direction: column;

  .greeting {
    text-align: center;
    font-weight: bolder;

    .row1 {
      color: $accent;
      font-family: "Oswald", sans-serif;
      padding-bottom: 1em;
    }

    .row2 {
      color: $primary;
      font-family: "Ubuntu", sans-serif;
    }
  }
  .login {
  }
}
