<div class="container">
  <div class="greeting">
    <h3>Добро пожаловать в</h3>
    <h2>Web-приложение для мониторинга и анализа</h2>
    <h2>посещаемости занятий!</h2>
  </div>

  <form class="example-form" [formGroup]="fgc">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" required />
      <mat-error *ngIf="fgc.controls.email.hasError('email')">
        Введите валидный e-mail.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Пароль"
        type="password"
        formControlName="password"
        required
      />
    </mat-form-field>
    <div>
      <button
        class="button"
        mat-raised-button
        (click)="checkLogin()"
        [disabled]="!fgc.valid"
      >
        Войти
      </button>

      <!-- <button mat-raised-button color="warn" (click)="generateData()">
        Base {{ status }}
      </button>

      <button
        mat-raised-button
        color="accent"
        (click)="generateData(true)"
        style="margin-left: 150px"
      >
        Заполнить рандомными даными {{ status }}
      </button> -->
    </div>
  </form>
</div>
