<ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item" ><button (click)="displayProfs()">Profs</button></li>
    <div *ngIf="showProfList" >
        <p *ngFor="let prof of profList"><a class="nav-link" routerLink="../schedule" [queryParams]="{ personId: prof.id}" >{{prof.fullName}}</a></p>
    </div>
    <li class="nav-item"><a (click)="displayCreateMenu()">Create</a></li>
    <ul *ngIf="showCreateMenu" class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="../edit/speciality">Специальность</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../edit/group">Группу</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../edit/person">Студентов</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../edit/subject">Предмет</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="../edit/lesson">Пары</a></li>
    </ul>
    <li class="nav-item"><a class="nav-link" routerLink="courses">Reports</a></li>
</ul>