<div class="menuContainer">
  <div class="leftMenu">
    <div class="header">
      <h1 class="menu">Навигация</h1>
    </div>

    <mat-list>
      <div *ngFor="let link of getLinksByRole(links)">
        <mat-list-item class="pointer litem" routerLink="{{ link.path }}">
          <mat-icon mat-list-icon>{{ link.icon }}</mat-icon>
          <div>{{ link.text }}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

      <mat-list-item
        class="pointer litem"
        [ngClass]="{ active: showProfList }"
        *ngIf="isShowProfs()"
        (click)="displayProfs()"
      >
        <mat-icon mat-list-icon>people</mat-icon>
        <div>Преподаватели</div>
      </mat-list-item>
      <mat-divider *ngIf="isShowProfs()"></mat-divider>
      <mat-list-item
        class="pointer litem"
        [ngClass]="{ active: showEditors }"
        *ngIf="isShowEditor()"
        (click)="displayEditors()"
      >
        <mat-icon mat-list-icon>edit</mat-icon>
        <div>Редактирование</div>
      </mat-list-item>
      <mat-divider *ngIf="isShowEditor()"></mat-divider>
      <mat-list-item
        class="pointer litem"
        [ngClass]="{ active: showReports }"
        *ngIf="isShowReports()"
        (click)="displayRepots()"
      >
        <mat-icon mat-list-icon>receipt_long</mat-icon>
        <div>Отчёты</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="rightSubMenu">
    <div class="header">
      <h3 class="submenu" *ngIf="showProfList">Преподаватели</h3>
      <h3 class="submenu" *ngIf="showEditors">Редактирование</h3>
      <h3 class="submenu" *ngIf="showReports">Отчёты</h3>
    </div>
    <img
      *ngIf="showImage()"
      src="assets/img/logo2.png"
      alt="image"
      style="width: 400px; height: 400px"
    />
    <mat-list
      *ngIf="showProfList"
      style="overflow-y: auto"
      [ngStyle]="{ 'height.px': rightMenuHeight }"
    >
      <mat-list-item *ngIf="profList.length === 0" class="nav-link"
        ><div class="ritem">Список преподавателей пуст.</div>
      </mat-list-item>
      <mat-list-item
        *ngFor="let prof of profList"
        class="nav-link"
        routerLink="../schedule"
        [queryParams]="{ personId: prof.id }"
        ><div class="ritem pointer">{{ prof.fullName }}</div>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="showEditors">
      <mat-list-item
        *ngFor="let link of getLinksByRole(editorLinks)"
        class="nav-link"
        routerLink="{{ link.path }}"
        ><div class="ritem pointer">{{ link.text }}</div>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="showReports">
      <mat-list-item
        *ngFor="let link of getLinksByRole(reportLinks)"
        class="nav-link"
        routerLink="{{ link.path }}"
        ><div class="ritem pointer">{{ link.text }}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
