<div class="user-menu-line" *ngIf="show">
  <button class="user-menu-button" mat-button [matMenuTriggerFor]="userMenu">
    <span>Добрый день{{ fullName ? ", " + fullName : "" }}!</span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu" xPosition="before">
    <button
      mat-menu-item
      *ngFor="let link of getLinksByRole(links)"
      routerLink="{{ link.path }}"
    >
      <mat-icon>{{ link.icon }}</mat-icon>
      <span>{{ link.text }}</span>
    </button>
    <button mat-menu-item routerLink="/menu">
      <mat-icon>menu</mat-icon>
      <span>Меню</span>
    </button>
    <button mat-menu-item routerLink="/changePassword">
      <mat-icon>vpn_key</mat-icon>
      <span>Поменять пароль</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
</div>
